*{
    box-sizing: border-box;
}
body{
    display: flex;
}

.form-div{
    max-width: 20%;
    min-height: 100dvh;
    border-right: 2px solid black;
    padding: 20px;
}

form{
    margin-block: 50px;
}


main{
    min-width: 80%;
    padding: 20px;
    dispplay: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /*Auto fit se ajusta auto fill se rellane*/
    gap: 10px; /*Espacio entre ellos*/
}

.card{
    max-height: fit-content; /*altura maxima se ajusta*/
}
